.markdown img {
    width: 100%;
    height: 400px;
    object-fit: contain
}

.markdown code {
    border: 1px solid #cacaca;
    line-height: 1.2em;
    padding: 10px;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #FAFAFB;
    color: #393939;
    margin: 0px;
}
